<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNpPk2pUQOFiLB99Qzszc9OZ1BZjNcfHM</string>
	<key>GCM_SENDER_ID</key>
	<string>439689006882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontiersMarketInterview</string>
	<key>PROJECT_ID</key>
	<string>frontiers-market-interview</string>
	<key>STORAGE_BUCKET</key>
	<string>frontiers-market-interview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439689006882:ios:c649a2391e3da18b2b5f7b</string>
</dict>
</plist>